.header__links{
  /*padding: 5px 27px 0px 0px;*/
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 880px) {
  .header__links{
    padding: 0 27px;
  }
}

@media screen and (max-width: 475px) {
  .header__links{
    margin: 0px 0px 30px;
    width: 100%;
    flex-direction: column;
    order: -1;
    align-items: center;
    display: none;
  }
}


